* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.skip-link {
    position: absolute;
    top: -50px;
    z-index: -1;
    left: 0;
    background-color: #053742;
    color: #E8F0F2;
    padding: 8px;
 }

 .skip-link:focus {
    top: 20px;
    z-index: 9999;

 }

nav {
  /* background: rgb(147, 36, 250); */
  background: #053742;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}
a.title-nav {
  color: #E8F0F2;
  font-size: 35px;
  line-height: 80px;
  text-align: left;
  margin-left: 40px;
  width: 200px;
  /* padding: 0 100px; */
  font-weight: bold;
}

nav.wrapper-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
}

nav ul {
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
/* width: 44px; */
}

nav ul li a {
  color: #E8F0F2;
  font-size: 14pt;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.active,
a:hover {
  background: #A2DBFA;
  transition: 0.5s;
  color: #053742;
}
/* img {
    display: block;
} */

.nav-icon {
  display: none;
}

#check {
  display: none;
}

.container {
	margin-top: 80px;
	position: relative;
	background-color: #E8F0F2;
  }
  
  .text-jumbotron {
	position: absolute;
	top: 0;
	line-height: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #E8F0F2;
	width: 100%;
  }
  
  img.jumbotron { 
	  width: 100%;
	  height: 200px;
	  object-fit: cover;
	  z-index: -1;
	  /* opacity: 0.5; */
	  filter: brightness(.2);
  }
  
  .content{
	  max-width: 1200px;
	  margin: 0 auto;
	  height: auto;
	  padding: 20px 10px 0 10px;
	}

	.content-title{
		color: #053742;
	}
	.set-title-content{
	text-align: center;
	width: 100%;
}
  .title-content{
	  padding-top: 30px;
	  padding-bottom: 10px;
	  display: inline-block;
	  font-size: 36px;
	  color: #053742;
	  font-weight: 600;
	  width: auto;
	  border-bottom: 3px solid #053742;
	}

	.card-menu{
		justify-content: center;
	  padding: 40px 0 10px 0;
	  display: grid;
	  margin: 0 auto;
	  grid-gap: 60px 20px;
	  grid-template-columns: repeat(auto-fill, 280px);

  }
  .card-item{
	box-shadow: 0 4px 8px 0 #053742;
	transition: 0.3s;
	display: inline-block;
	width: 100%;
	height: auto;
	border: 1px solid #E8F0F2;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
  }

  .card-item:hover{
	box-shadow: 0 20px 16px 0 #053742;
	transition: 0.3s;
  }

  .city{
	  border-radius: 0 0 14px 0;
	  background: #A2DBFA;
	  padding: 10px;
	  color: #053742;
	  top: 0;
	  position: absolute;
	}

	.content-card{
	  padding: 10px;
	  text-align: left;
	}
	
  .rating{
	  height: 20px;
	  margin-top: 6px;
	  margin-bottom: 10px;
	  display: grid;
  	grid-template-columns: 0fr 1fr;
	  grid-gap: 10px;
  }
  .rating-img{
	  width: 30px;
	  height: 20px;
  }
  .text-rating{
	  height: auto;
	  font-weight: bold;
	  color: #053742;
	  padding-bottom: -10px;
  }
  .name{
	margin-top: 6px;
	margin-bottom: 10px;
	color: #053742;
  }
  .description{
	  font-size: 12px;
	  color: #053742;
	margin-top: 6px;
	margin-bottom: 10px;
	overflow:hidden;
	height: 70px;
  }

  .card-image{
	  width: 100%;
	  height: 180px;
	  object-fit: cover;
	  /* border-radius: 10px 10px 0 0; */
  }
  .detail-link{
	  border: 1px solid #39A2DB;
	  color: #053742;
	  text-align: center;
	  min-height: 44px;
	  text-decoration: none;
	  display: block;
	  border-radius: 6px;
	  padding: 16px 4px 14px 4px;
  }
  .detail-link:hover{
	  color: #E8F0F2;
	  background-color: #053742;
}
  .footer{
	  /* margin-top: 20px; */
	  line-height: 50px;
	  bottom: 0;
	  height: 50px;
	  text-align: center;
	  color: #E8F0F2;
	  background-color: #053742;
	}

	.nav-close, .label-check{
		display: none;
	}

	/* START DETAIL PAGE */
	.detail-name{
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 50px;
		color: #053742;
	}
	.detail-menu{
		margin: 0 auto;
		max-width: 900px;
		/* display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px; */
		
	}

	.description-menu{
		margin-top: 30px;
	}

	.long-desc{
		text-align: justify;
		color: #053742;
	}

	.image-data{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 50px;
		margin-bottom: 40px;
	}

	.title-desc{
		font-size: 24px;
		margin-bottom: 20px;
		color: #053742;
	}

	.detail-image{
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.table-detail-menu{
		font-size: 20px;
		font-weight: bold;
		color: #053742;

	}

	.table-detail-menu td{
		padding: 8px;
	}

	td {
        border-bottom: 2px dashed #053742;
    }

	.menu-key{
		font-size: 20px;
		font-weight: bold;
		color: #053742;
	}

	.menus-foods-detail, .menus-drinks-detail{
		font-weight: bold;
		margin-top: 12px;
		display: inline-block;
		padding: 10px;
		background: #053742;
		color: #E8F0F2;
		border-radius: 8px;
	}

	.menus-categories-detail{
		font-size: 14px;
		margin-top: 12px;
		display: inline-block;
		padding: 10px;
		background: #053742;
		color: #E8F0F2;
		border-radius: 8px;
	}
	
	.menus-item{
		max-width: 1000px;
	}

	.menu-item-title{
		color: #053742;
	}

	.customer-review{
		margin-top: 40px;	
		margin-bottom: 20px;	
	}

	.customer-review-title{
		margin-bottom: 30px;	
		font-size: 20px;
		font-weight: bold;
		color: #053742;
	}

	.customer-review-detail-box{
		border: 1px solid #053742;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.header-review-detail{
		display: grid;
		grid-template-columns: 100px 1fr;
		gap: 20px;
		margin-bottom: 10px;
	}

	.customer-review-name{
		background: #A2DBFA;
		padding: 6px;
		text-align: left;
		border-radius: 8px;
		color: #053742;
		font-weight: bold;
	}

	.customer-review-date{
		color: #053742;
		padding: 6px;
		text-align: left;
	}

	.customer-review-review{
		text-align: left;
		font-size: 20px;
		color: #053742;
		font-weight: bold;
	}


	/* .description-menu{
		grid-column-start: 1;
		grid-column-end: span 2;
	} */

	
	/* END DETAIL PAGE */


	
	@media (max-width : 420px){
		.text-jumbotron {
			font-size: 30px;
		}
		.footer{
			font-size: 10pt;
		}
	}
	@media (max-width: 660px) {
		

	  .nav-icon {
		display: inline-block;
		text-align: center;
	  }

	  .link-icon {
		text-align: center;
	  }
	
	  #check:checked ~ ul {
		cursor: pointer;
		left: -100px;
	  }
	
	  nav.wrapper-nav {
		display: grid;
		padding-right: 20px;
		grid-template-columns: 6fr 1fr;
	  }
	
	  #check {
		padding: 0;
	  }
	
	  .label-check {
		display: inline-block;
		margin-top: 12px;
		text-align: center;
		width: 54px;
		height: 54px;
	  }
	
	  ul {
		text-align: center;
		top: 80px;
		position: fixed;
		left: -100%;
		width: 100%;
		height: 100vh;
		background: #053742;
		z-index: 9999;
		transition: all 0.5s;
	  }

	  nav ul{
		  margin-right: 0;
	  }
	  
	  nav ul li {
		margin-top: 24px;
		margin-left: 100px;
		display: block;
		line-height: 60px;
	  }

	  .card-menu{
		grid-template-columns: repeat(auto-fill, 100%);
	  }
	}

	/*
   Like
*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #053742;
    color: #E8F0F2;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading{
	text-align: center;
}
/* CSS Main Menu */
